	{% load static %}


<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">	
				{% for news in featured_news %}				
				{% if forloop.counter < 3 %}
				
					<!-- post -->
					<div class="col-md-6">
						<div class="post post-thumb">
							<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{news.cover_image.url}}' alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{news.category}}" href="category.html">JavaScript</a>
									<span class="post-date">{{news.created_at.date}}</span>
								</div>
								<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
					<!-- /post -->

				</div>
				<!-- /row -->

				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Recent Posts</h2>
						</div>
					</div>

					<!-- post -->
					{% for news in latest_news  %}
					{% if forloop.counter < 4 %}										
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
									<span class="post-date">{{news.created_at.date}}</span>
								</div>
								<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
					<!-- /post -->

					<div class="clearfix visible-md visible-lg"></div>


					{% for news in latest_news  %}
					{% if forloop.counter > 3 and forloop.counter < 7 %}										
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
									<span class="post-date">{{news.created_at.date}}</span>
								</div>
								<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}


				</div>
				<!-- /row -->

				<!-- row -->
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<!-- post -->
							{% for news in latest_news  %}
							{% if forloop.counter == 7 %}
							<div class="col-md-12">
								<div class="post post-thumb">
									<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
											<span class="post-date">{{news.created_at.date}}</span>
										</div>
										<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							<!-- /post -->

							<!-- post -->
							{% for news in latest_news  %}
							{% if forloop.counter > 7 and forloop.counter < 10 %}
							<div class="col-md-6">
								<div class="post">
									<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
											<span class="post-date">{{news.created_at.date}}</span>
										</div>
										<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							<!-- /post -->

							<div class="clearfix visible-md visible-lg"></div>

							<!-- post -->
							{% for news in latest_news  %}
							{% if forloop.counter > 9 and forloop.counter < 12 %}
							<div class="col-md-6">
								<div class="post">
									<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
											<span class="post-date">{{news.created_at.date}}</span>
										</div>
										<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							<!-- /post -->

							<div class="clearfix visible-md visible-lg"></div>

							<!-- post -->
							{% for news in latest_news  %}
							{% if forloop.counter > 11 and forloop.counter < 14 %}
							<div class="col-md-6">
								<div class="post">
									<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
											<span class="post-date">{{news.created_at.date}}</span>
										</div>
										<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							<!-- /post -->
						</div>
					</div>

					<div class="col-md-4">
						<!-- post widget -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Most Read</h2>
							</div>
							{% for news in popular_news  %}
							<div class="post post-widget">
								<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
								<div class="post-body">
									<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- /post widget -->

						<!-- post widget -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Featured Posts</h2>
							</div>
							{% for news in featured_news %}
							
							
							<div class="post post-thumb">
								<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-{{news.category}}" href="category.html">{{news.get_category_display}}</a>
										<span class="post-date">{{news.created_at.date}}</span>
									</div>
									<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- /post widget -->
						
						<!-- ad -->
						<div class="aside-widget text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src='{% static "img/ad-1.jpg" %}' alt="">
							</a>
						</div>
						<!-- /ad -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->
		
		<!-- section -->
		<div class="section section-grey">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Featured Posts</h2>
						</div>
					</div>
					{% for news in featured_news %}
					<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-2" href="category.html">{{news.get_category_display}}</a>
									<span class="post-date">{{news.created_at.date}}</span>
								</div>
								<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /post -->
					<!-- /post -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="section-title">
									<h2>Most Read</h2>
								</div>
							</div>
							<!-- post -->
							<div class="col-md-12">
							{% for news in popular_news %}
							
							
								<div class="post post-row">
									<a class="post-img" href="{{ news.get_absolute_url }}"><img src='{{ news.cover_image.url }}' alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-{{ news.category }}" href="category.html">{{news.get_category_display}}</a>
											<span class="post-date">{{news.created_at.date}}</span>
										</div>
										<h3 class="post-title"><a href="{{ news.get_absolute_url }}">{{news.title}}</a></h3>
										<p>{{ news.story|truncatewords:10 }}...</p>
									</div>
								</div>
								{% endfor %}
							</div>
							<!-- /post -->
						</div>
					</div>

					<div class="col-md-4">
						<!-- ad -->
						<div class="aside-widget text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src='{% static "img/ad-1.jpg" %}' alt="">
							</a>
						</div>
						<!-- /ad -->
						
						<!-- catagories -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Catagories</h2>
							</div>
							<div class="category-widget">
								<ul>
									<li><a href="{% url 'category_news' category='Web Design' %}" class="cat-1">Web Design<span>340</span></a></li>
									<li><a href="{% url 'category_news' category='JavaScript' %}" class="cat-2">JavaScript<span>74</span></a></li>
									<li><a href="{% url 'category_news' category='CSS' %}" class="cat-3">CSS<span>35</span></a></li>
									<li><a href="{% url 'category_news' category='Jquery' %}" class="cat-4">JQuery<span>41</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /catagories -->
						
						<!-- tags -->
						<div class="aside-widget">
							<div class="tags-widget">
								<ul>
									<li><a href="#">Chrome</a></li>
									<li><a href="#">CSS</a></li>
									<li><a href="#">Tutorial</a></li>
									<li><a href="#">Backend</a></li>
									<li><a href="#">JQuery</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Development</a></li>
									<li><a href="#">JavaScript</a></li>
									<li><a href="#">Website</a></li>
								</ul>
							</div>
						</div>
						<!-- /tags -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>