{% extends "partials/base.html" %}
		<!-- Header -->
		
		{% block header %}
		{% include "partials/header.html" %}
				{% if messages %}
		<ul class='messages'>
			{% for message in messages %}
			<li {% if message.tags %} class= '{{message.tags}}'{% endif %}>{{ message }} </li>
			{% endfor %}
		{% endif %}
		{% endblock header %}
		<!-- /Header -->

		<!-- section -->
		{% block content %}
		{% include "partials/content.html" %}
		{% endblock content %}
		<!-- /section -->

		<!-- Footer -->
	{% block footer %}
	{% include "partials/footer.html" %}
	{% endblock footer %}
		<!-- /Footer -->

		<!-- jQuery Plugins -->
		{% block script %}
		{% include "partials/script.html" %}
		{% endblock script %}
