{% extends "partials/base.html" %}
		<!-- Header -->
		
		{% block header %}
		{% include "partials/header.html" %}
		{% endblock header %}
		<!-- /Header -->

		<!-- section -->
		{% block content %}
		{% include "partials/content.html" %}
		{% endblock content %}
		<!-- /section -->

		<!-- Footer -->
	{% block footer %}
	{% include "partials/footer.html" %}
	{% endblock footer %}
		<!-- /Footer -->

		<!-- jQuery Plugins -->
		{% block script %}
		{% include "partials/script.html" %}
		{% endblock script %}
